@import "tailwindcss";

@theme {
  --grid-cols-app: minmax(18rem, 20rem) 1fr;
  --color-primary-50: #f9f5ff;
  --color-primary-400: #b692f6;
  --color-primary-700: #6941c6;
}

@layer utilities {
  .webkit-antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
